.bg-primary{
    background-color: var(--primaryColor);
}
.color-primary{
    color: var(--primaryColor);
}
.bg-secondary{
    background-color:var(--secondaryColor);
}
.color-secondary{
    color: var(--secondaryColor)
}
.bg-dark{
    background-color: var(--darkColor);
}
.color-dark{
    color: var(--darkColor);
}
.bg-light{
    background-color: var(--lightColor);
}
.color-light{
    color: var(--lightColor);
}