.main-menu{
    background-color: var(--primaryColor);
    position: fixed;
    z-index: 999;
    top: 0px;
    right: 0px;
    width: 100%;
    max-width: 480px;
    height: 100vh;
    transition: all .3s;
    padding: var(--unit);
}

.main-menu.close{
    right: -100%;
}


.main-menu .toggle-menu{
    height: calc(var(--unit) * 3);
    width: calc(var(--unit) * 3);
    background-color: var(--secondaryColor);
    position: fixed;
    right: 0;
    cursor: pointer;
}

@media (min-width:1024px){

    .main-menu{
        position: sticky;
        height: unset;
        max-width: unset;
    }

    .main-menu .toggle-menu{
        display: none;
    }

    .main-menu ul{
        display: flex;
    }
}